.body {
  display: flex;
  flex-direction: column;
  gap: 20px;

  max-width: 1200px;
  margin: 0 auto;
}

.result-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  select {
    border-radius: 5px;
    height: fit-content;
    padding: 10px;
    cursor: pointer;

    option {
      cursor: pointer;
    }
  }
}
