.grid-list {
  display: grid;
  gap: 2rem;
}

@media (min-width: 640px) {
  .grid-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
