:root {
  --primary-color: #ffb142;
  --primary-dark: #ff793f;
  --primary-light: #ffc470;
  --secondary-color: #f4f6f8;
  --black-1: #383641;
  --grey-1: #88868d;
  --blue-1: #213547;
  --blue-2: #1f2937;
  --box-shadow: rgba(0, 0, 0, 0.25);
  --text-color: #383641;
  --text-color-2: rgba(255, 255, 255, 0.87);
  --card-background: #ffffff;
}

/**
 * Light mode styles
 */
@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #ffb142;
    --primary-dark: #ff793f;
    --primary-light: #ffc470;
    --secondary-color: #f4f6f8;
    --black-1: #383641;
    --grey-1: #88868d;
    --blue-1: #213547;
    --blue-2: #1f2937;
    --box-shadow: rgba(0, 0, 0, 0.25);
    --text-color: #383641;
    --text-color-2: rgba(255, 255, 255, 0.87);
    --card-background: #ffffff;
  }
}
