.book {
  background-color: var(--card-background);
  border-radius: 10px;
  border: 5px solid var(--card-background);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.book img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center center;
}

.book .book-info {
  padding: 10px;
}

.book h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  color: var(--black-1);
}

.book p {
  font-size: 14px;
  color: var(--grey-1);
  margin: 0;
}

.favourite-star {
  background-color: var(--grey-1);
  padding: 3px 7px;
  cursor: pointer;
  border-radius: 50%;
}

.favourite-star.is-fav {
  background-color: var(--primary-color);
}

.favourite-star:hover {
  background-color: var(--primary-light);
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
