.filters-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--card-background);
  padding: 20px;
  border-radius: 5px;
}

.filters-container h4,
.filters-container p {
  margin: 0;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: flex-end;
}

.filters input,
.filters select {
  padding: 8px;
  border: 1px solid var(--black-1);
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 14px;
}

.filters label {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-color);
}

.filters .filter-item {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
}

.filters-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
