.header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: grey;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    height: 40px;
    width: auto;
  }