.buscador {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
  }
}

.updateBtn {
  padding: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
}
