:root {
  --primary-color: #ffb142;
  --primary-dark: #ff793f;
  --text-color: #383641;
  --grey-color: #88868d;
  --box-shadow: rgba(0, 0, 0, 0.1);
}

/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}*/

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
